html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: #548235;
}

a:hover {
  color: #72b446;
}

* {
  box-sizing: border-box;
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 10px;
}

.esri-view:fullscreen {
  background-color: #fff;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */

/* Hide arrows on numeric inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.tableLink {
  color: #548235;
  text-decoration: underline;
}

.tableLink:hover {
  color: #72b446;
  text-decoration: underline;
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  width: inherit;
  height: inherit;
  background-color: #ccc;
}
